# Week 6 Instructor-led lab: Data Manipulation

Author: Haiheng Xu  
Course: BGEN632 Grad. Intro. to Python  
Term: Spring 2025  
Date: April 13, 2025

### Import Modules

In [89]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold

### Access Data

In [92]:
os.chdir('C:\\Users\\haihe\\Desktop\\Classes\\Intro to Python\\week7labs\\data')
chd = pd.read_csv("CaliforniaHospitalData.csv")
chdp = pd.read_csv("CaliforniaHospitalData_Personnel.txt", delimiter='\t')

In [94]:
print(chdp)

    HospitalID  Work_ID   LastName FirstName Gender  PositionID  \
0        35665   351131  Cherukuri    Dileep      M           4
1        12145   756481  Rodriguez      Jose      M           1
2        45771   756481  Rodriguez      Jose      M           1
3        43353   756481  Rodriguez      Jose      M           4
4        17718   811240    Charles   Kenneth      M           1
..         ...      ...        ...       ...    ...         ...
59       33283   704360      Frank    Vernon      M           1
60       33242   704360      Frank    Vernon      M           4
61       46342   768057     Tanner  Patricia      F           3
62       43437   768057     Tanner  Patricia      F           1
63       29823   768057     Tanner  Patricia      F           3

               PositionTitle  Compensation  MaxTerm StartDate         Phone  \
0   Safety Inspection Member         23987        2  1/1/2019  405-564-5580
1    Regional Representative         46978        4  1/1/2009  405-744-2238
2    Regional Representative         46978        4  1/1/2011  405-744-2238
3   Safety Inspection Member         23987        2  1/1/2011  405-744-2238
4    Regional Representative         46978        4  1/1/2009  405-744-3412
..                       ...           ...      ...       ...           ...
59   Regional Representative         46978        4  1/1/2012  801-687-2845
60  Safety Inspection Member         23987        2  1/1/2011  801-687-2845
61           Acting Director        248904        8  1/1/2011  801-687-7877
62   Regional Representative         46978        4  1/1/2010  801-687-7877
63           Acting Director        248904        8  1/1/2009  801-687-7877

                            Email
0    dileep.cherukuri@okstate.edu
1    jose.rodriguez@edihealth.com
2    jose.rodriguez@edihealth.com
3    jose.rodriguez@edihealth.com
4   kenneth.charles@edihealth.com
..                            ...
59           vernon.frank@ihc.com
60           vernon.frank@ihc.com
61  patricia.tanner@prohealth.net
62  patricia.tanner@prohealth.net
63  patricia.tanner@prohealth.net

[64 rows x 12 columns]

In [96]:
# Merging the data sets

new_chd = chd.merge(chdp, on='HospitalID')

In [98]:
# Removing columns

new_chd.drop(['Work_ID', 'PositionID', 'Website'], axis=1, inplace=True)

In [100]:
# Select hospitals with conditions
new_chd_df = new_chd[(new_chd.Teaching == 'Small/Rural') & (new_chd.AvlBeds >= 15)& (new_chd.OperInc >= 0)]

In [102]:
# Exporting the Data
new_chd_df.to_csv('C:\\Users\\haihe\\Desktop\\Classes\\Intro to Python\\week7labs\\data\\hospital_data_new.txt', sep='\t')

In [104]:
# Open the newly created file
new_chd_df = pd.read_csv("hospital_data_new.txt", delimiter='\t')

In [106]:
# Rename columns

new_chd_df.rename(columns = {'NoFTE':'FullTimeCount'}, inplace = True)
new_chd_df.rename(columns = {'NetPatRev':'NetPatientRevenue'}, inplace = True)
new_chd_df.rename(columns = {'InOperExp':'InpatientOperExp'}, inplace = True)
new_chd_df.rename(columns = {'OutOperExp':'OutpatientOperExp'}, inplace = True)
new_chd_df.rename(columns = {'OperRev':'Operating_Revenue'}, inplace = True)
new_chd_df.rename(columns = {'OperInc':'Operating_Income'}, inplace = True)

In [108]:
# Insert records

# Create dictionaries for the two new positions
my_position_1 = {'HospitalID ': '46996',
           'Name': 'Ridgecrest Regional Hospital',
           'LastName': 'Xu',
           'FirstName': 'Haiheng' ,
           'Gender': 'M',
           'PositionTitle': 'Regional Representative',
           'Compensation': '46978',
           'MaxTerm': '4',
           'StartDate': '4/13/2025'
          }

my_position_2 = {'HospitalID ': '13738',
           'Name': 'St. Mary Medical Center',
           'LastName': 'Xu',
           'FirstName': 'Haiheng' ,
           'Gender': 'M',
           'PositionTitle': 'Acting Director',
           'Compensation': '248904',
           'MaxTerm': '8',
           'StartDate': '4/13/2025'
          }

# Convert the dictionaries to DataFrames
df_my_position_1 = pd.DataFrame([my_position_1])
df_my_position_2 = pd.DataFrame([my_position_2])

# Use concat to merge dataframes

new_merge = pd.concat([new_chd_df, df_my_position_1, df_my_position_2], ignore_index=True)

In [110]:
# Filtering Data

# Select all hospitals that are non-profit with more than 250 employees, unless the net patient revenue is smaller than $109,000
new_merge = new_merge[(new_merge.TypeControl == 'Non Profit') & (new_merge.FullTimeCount > 250) & (new_merge.NetPatientRevenue >= 109000)]

# Remove the columns containing employee information and save it as a new DataFrame
new_merge1 = new_merge.drop (['LastName', 'FirstName', 'Gender', 'PositionTitle', 'Compensation','MaxTerm', 'StartDate', 'Phone', 'Email'], axis = 1)

In [112]:
# Select all the *Regional Representatives* who work at a hospital with operating income greater than $100,000.

new_merge2 = new_merge[(new_merge.PositionTitle == 'Regional Representatives')& (new_merge.Operating_Income > 100000)]

In [114]:
# Convert any date-time columns into a datetime datatype. Confirm your changes by outputting the data types for all columns.
# Additionally, output the first 5 records of the column(s) you converted.

new_merge['StartDate'] = pd.to_datetime(new_merge['StartDate'])
new_merge.dtypes
print(new_merge['StartDate'].head(5))

0   2009-01-01
2   2011-01-01
3   2012-01-01
5   2011-01-01
6   2011-01-01
Name: StartDate, dtype: datetime64[ns]

### Reference

In [ ]:
1.Mahmood. (2022, February 15). Appending row to dataframe with concat() [Stack Overflow question]. Stack Overflow.  https://stackoverflow.com/questions/71132469/appending-row-to-dataframe-with-concat